# Data Prep for Modeling

### Import Needed Modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Import Required Data

In [8]:
val = pd.read_csv("val.csv")
train = pd.read_csv("train.csv")
storms = pd.read_csv('MDAD.csv')
print("validation and training set loaded successfully")

validation and training set loaded successfully

In [3]:
train.describe()

,Unnamed: 0,Mars Year,Sol,Ls,Centroid longitude,Centroid latitude,Area (square km),Maximum latitude,Minimum latitude,Confidence interval,Missing data
count,7487.000000,7487.000000,7487.000000,7487.000000,7487.000000,7487.000000,7.487000e+03,7487.000000,7487.000000,7487.000000,7487.000000
mean,3743.000000,30.435956,16.152264,163.354054,-8.899005,-6.895492,9.080070e+05,1.071237,-14.730633,68.278349,0.802725
std,2161.455065,1.037955,9.148801,96.973304,95.743530,49.328366,1.681386e+06,50.798622,47.868271,14.749706,0.397968
min,0.000000,28.000000,1.000000,0.000000,-179.950000,-82.250000,1.343662e+03,-78.550000,-89.450000,50.000000,0.000000
25%,1871.500000,30.000000,8.000000,76.200000,-78.150000,-49.450000,1.121855e+05,-43.450000,-56.050000,50.000000,1.000000
50%,3743.000000,30.000000,16.000000,162.100000,-28.350000,-27.650000,3.416653e+05,-17.450000,-34.850000,75.000000,1.000000
75%,5614.500000,31.000000,24.000000,226.000000,63.650000,45.350000,9.636997e+05,54.450000,35.150000,75.000000,1.000000
max,7486.000000,32.000000,34.000000,359.600000,179.950000,82.150000,3.005114e+07,89.950000,77.150000,100.000000,1.000000

## Prepping Variables for Modeling 

We will now identify and create dummy variables for columns as well as do some feature engineering on the time series portion of the data.

In [4]:
val.head()

,Unnamed: 0,Mars Year,Mission subphase,Sol,Ls,Centroid longitude,Centroid latitude,Area (square km),Member ID,Sequence ID,Maximum latitude,Minimum latitude,Confidence interval,Missing data
0,7487,28,P01,20,141.2,-85.85,-25.45,231356.08,P01_064,NaN,-14.95,-32.75,75,1
1,7488,28,P01,20,141.2,-166.45,-49.45,163109.89,P01_065,NaN,-45.35,-53.75,75,1
2,7489,28,P01,21,141.6,-46.65,60.35,1361312.20,P01_004+006+008,NaN,72.95,48.55,75,1
3,7490,28,P01,21,141.6,-80.55,-20.55,652738.31,P01_063+064,NaN,-11.45,-30.25,100,1
4,7491,28,P01,22,142.1,-41.65,59.25,1818981.50,P01_004+006+008,NaN,72.75,41.75,75,1

### Time Series Feature Engineering
I will create a summary of the length of the storms. Here we will take `Mars Year` and `Sol` and group them by the number of storms and when they occured.

In [20]:
print("Number of Unique Storm Names, Including Grouped Storms")
len(storms['Member ID'].unique())

Number of Unique Storm Names, Including Grouped Storms

8294

In [29]:
counter = 0
storm_list = []
for i in storms['Member ID']:
    #print(i)
    if "+" in i:
        #print(i)
        counter += 1
        
counter

1084

In [57]:
#need to develop a method to split out the combined storms
fixed_entry = []
entry = 'B02_002+003+008+010'.split("+")
print(f"Entry 1: {entry}")
title = entry[0].split("_")
print(f"Initial Title: {title}")
title = title[0]
print(f"Updated Title: {title}")
entry.append(title[1])
print(f"Appended Entry with Leftover Entry: {entry}")
entry = entry[1:]
print(f"Current Entry: {entry}")
#for number in entry:
for i in entry:
    fixed_entry.append(str(title)+"_"+str(i))
    
print(f"Fixed Entry: {fixed_entry}")

Entry 1: ['B02_002', '003', '008', '010']
Initial Title: ['B02', '002']
Updated Title: B02
Appended Entry with Leftover Entry: ['B02_002', '003', '008', '010', '0']
Current Entry: ['003', '008', '010', '0']
Fixed Entry: ['B02_003', 'B02_008', 'B02_010', 'B02_0']

In [58]:
fixed_entry

['B02_003', 'B02_008', 'B02_010', 'B02_0']

In [ ]:
storms_count = storms.groupby(['Mars Year','Sol']).agg({'Ls':'count'})